<p id="notice"><%= notice %></p>

<div class="home-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 home-container">
          <head>
            <h1>テナントの方はこちら</h1>
              <th colspan="3">
                <%= link_to 'テナント用ページへ', tenants_path %>
              </th>
            <h1>リペアショップの方はこちら</h1>
              <th colspan="3">
                <%= link_to 'リペアショップ用ページへ', repair_shops_path %>
              </th>
          </head>

          <table>
            <body>
            </body>
          </table>
          </div>
        </div>
      </div>
    </div>
